<div class="row">
	<div class="col-lg-8">
		<div class="portlet">
			<div class="portlet-header portlet-header-bordered">
			   <h3 class="portlet-title">Pending jobs</h3>
			</div>
			<div class="portlet-body">
			   <p>Here is a complete list of pending jobs for {$data->name}</p>
			   <hr>
			   <table id="datatable-1" class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
					   <th>ID</th>
					   <th>Client Name</th>
					   <th>Client Email</th>
					   <th>Client Phone</th>
					   <th>Date</th>
					   <th>Status</th>
					   <th>Service Fee</th>
					   <th></th>
					</tr>
				 </thead>
				 <tbody>
					 {$results = Queries\General::getServicesRequested(['statusid' => 1, 'mechanicid' => $data->mechanicid]); $index = 1;}
					 @foreach ($results as $result)
						 <tr>
							 <td>{$index}</td>
							 <td>{ucwords($result->name)}</td>
							 <td><a href="mailto:{$result->email}">{$result->email}</a></td>
							 <td><a href="tel:{$result->phone}">{$result->phone}</a></td>
							 <td>{$result->date}</td>
							 <td>
								 @if ($result->status->name == 'pending')
									 <span class="badge badge-warning">pending</span>
								 @elseif ($result->status->name == 'completed')
									 <span class="badge badge-success">completed</span>
								 @elseif ($result->status->name == 'processing')
									 <span class="badge badge-primary">processing</span>
								 @else
									 <span class="badge badge-danger">{$result->status->name}</span>
								 @endif
							 </td>
							 <td>₦{number_format($result->serviceFee, 2, '.', ',')}</td>
							 <td>
								 <a $href="services/view/$result->serviceid" class="btn btn-label-primary">View</a>
							 </td>
						 </tr>
						 {$index++;}
					 @endfor
				 </tbody>
			   </table>
			</div>
		</div>

		<div class="portlet">
			<div class="portlet-header portlet-header-bordered">
			   <h3 class="portlet-title">Ongoing jobs</h3>
			</div>
			<div class="portlet-body">
			   <p>Here is a complete list of ongoing jobs for {$data->name}</p>
			   <hr>
			   <table id="datatable-2" class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
					   <th>ID</th>
					   <th>Client Name</th>
					   <th>Client Email</th>
					   <th>Client Phone</th>
					   <th>Date</th>
					   <th>Status</th>
					   <th>Service Fee</th>
					   <th></th>
					</tr>
				 </thead>
				 <tbody>
					 {$results = Queries\General::getServicesRequested(['statusid' => 4, 'mechanicid' => $data->mechanicid]); $index = 1;}
					 @foreach ($results as $result)
						 <tr>
							 <td>{$index}</td>
							 <td>{ucwords($result->name)}</td>
							 <td><a href="mailto:{$result->email}">{$result->email}</a></td>
							 <td><a href="tel:{$result->phone}">{$result->phone}</a></td>
							 <td>{$result->date}</td>
							 <td>
								 @if ($result->status->name == 'pending')
									 <span class="badge badge-warning">pending</span>
								 @elseif ($result->status->name == 'completed')
									 <span class="badge badge-success">completed</span>
								 @elseif ($result->status->name == 'processing')
									 <span class="badge badge-primary">processing</span>
								 @else
									 <span class="badge badge-danger">{$result->status->name}</span>
								 @endif
							 </td>
							 <td>₦{number_format($result->serviceFee, 2, '.', ',')}</td>
							 <td>
								 <a $href="services/view/$result->serviceid" class="btn btn-label-primary">View</a>
							 </td>
						 </tr>
						 {$index++;}
					 @endfor
				 </tbody>
			   </table>
			</div>
		</div>

		<div class="portlet">
			<div class="portlet-header portlet-header-bordered">
			   <h3 class="portlet-title">Completed jobs</h3>
			</div>
			<div class="portlet-body">
			   <p>Here is a complete list of completed jobs for {$data->name}</p>
			   <hr>
			   <table id="datatable-3" class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
					   <th>ID</th>
					   <th>Client Name</th>
					   <th>Client Email</th>
					   <th>Client Phone</th>
					   <th>Date</th>
					   <th>Status</th>
					   <th>Service Fee</th>
					   <th></th>
					</tr>
				 </thead>
				 <tbody>
					 {$results = Queries\General::getServicesRequested(['statusid' => 2, 'mechanicid' => $data->mechanicid]); $index = 1;}
					 @foreach ($results as $result)
						 <tr>
							 <td>{$index}</td>
							 <td>{ucwords($result->name)}</td>
							 <td><a href="mailto:{$result->email}">{$result->email}</a></td>
							 <td><a href="tel:{$result->phone}">{$result->phone}</a></td>
							 <td>{$result->date}</td>
							 <td>
								 @if ($result->status->name == 'pending')
									 <span class="badge badge-warning">pending</span>
								 @elseif ($result->status->name == 'completed')
									 <span class="badge badge-success">completed</span>
								 @elseif ($result->status->name == 'processing')
									 <span class="badge badge-primary">processing</span>
								 @else
									 <span class="badge badge-danger">{$result->status->name}</span>
								 @endif
							 </td>
							 <td>₦{number_format($result->serviceFee, 2, '.', ',')}</td>
							 <td>
								 <a $href="services/view/$result->serviceid" class="btn btn-label-primary">View</a>
							 </td>
						 </tr>
						 {$index++;}
					 @endfor
				 </tbody>
			   </table>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="portlet">
		  <div class="portlet-header portlet-header-bordered">
			 <h3 class="portlet-title">Update Mechanic</h3>
		  </div>
		  <div class="portlet-body">
			 <p>Here is a complete form to update a mechanic record.</p>
			 <hr>
			 @alert('mechanic-updated')
				<div class="alert alert-success">{$message}</div>
			 @endalert

			 @alert('failed-to-update')
				<div class="alert alert-danger">{$message}</div>
			 @endalert

			 <form action="" method="post">
				@csrf;
				@method('@updateMechanic');

				<div class="form-group">
					<label for="exampleFormControlInput1">Mechanic Name</label> 
					<input type="text" name="name" required class="form-control" value="@post('name', $data->name);" id="exampleFormControlInput1" placeholder="eg. Adams Charles">
				</div>

				<div class="form-group">
					<label for="exampleFormControlInput2">Mechanic Telphone</label> 
					<input type="tel" name="phone" required class="form-control" value="@post('phone', $data->phone);" id="exampleFormControlInput2" placeholder="eg. 08011222900">
				</div>

				<div class="form-group">
					<label for="exampleFormControlInput3">Mechanic Email</label> 
					<input type="email" name="email" required class="form-control" value="@post('email', $data->email);" id="exampleFormControlInput3" placeholder="eg. hello@example.com">
				</div>

				<div class="form-group">
					<label for="exampleFormControlSelect1">Country State</label> 
					<select class="form-control" name="stateid" id="exampleFormControlSelect1" required>
						{$states = Queries\General::getAllStates();}
						{$stateid = @@post('stateid', $data->state->stateid);}
						<!-- <option value="">Please Choose</option> -->
						@foreach ($states as $state)
							@if ($stateid == $state->stateid)
								<option value="{$state->stateid}" selected>{ucwords($state->name)}</option>
							@else
								<option value="{$state->stateid}">{ucwords($state->name)}</option>
							@endif
						@endfor
					</select>
				</div>

				<button class="btn btn-primary" type="submit">Submit</button>

			</form>
		  </div>
	   </div>
	</div>
</div>

<a href="javascript:history.back()" class="btn btn-label-primary" style="margin-bottom:20px">Go Back</a>
<br/>