<div class="row">
	<div class="col-12">
	   <div class="portlet">
		  <div class="portlet-header portlet-header-bordered">
			 <h3 class="portlet-title">Maintenance Services</h3>
		  </div>
		  <div class="portlet-body">
			 <p>Here is a complete list of maintenance services raised from the main site.</p>
			 <hr>
			 <table id="datatable-1" class="table table-bordered table-striped table-hover">
				<thead>
				   <tr>
					  <th>ID</th>
					  <th>Client Name</th>
					  <th>Client Email</th>
					  <th>Client Phone</th>
					  <th>Manufacturer</th>
					  <th>Message</th>
					  <th>Date</th>
					  <th>Status</th>
					  <th>Service Fee</th>
					  <th></th>
				   </tr>
				</thead>
				<tbody>
					{$results = Queries\General::getServicesRequested(['service_type' => 'maintenance']); $index = 1;}
					@foreach ($results as $result)
						<tr>
							<td>{$index}</td>
							<td>{ucwords($result->name)}</td>
							<td><a href="mailto:{$result->email}">{$result->email}</a></td>
							<td><a href="tel:{$result->phone}">{$result->phone}</a></td>
							<td>
								<div class="avatar avatar-rounded avatar-lg" style="background-color: #fff;">
									<div class="avatar-display">
										<img src="{$result->manufacturer->logo}"/>
									</div>
								</div>
								<span>{$result->manufacturer->name}</span>
							</td>
							<td>{substr($result->comment, 0, 50)} {strlen($result->comment) > 50 ? '...' : ''}</td>
							<td>{$result->date}</td>
							<td>
								@if ($result->status->name == 'pending')
									<span class="badge badge-warning">pending</span>
								@elseif ($result->status->name == 'completed')
									<span class="badge badge-success">completed</span>
								@elseif ($result->status->name == 'processing')
									<span class="badge badge-primary">processing</span>
								@else
									<span class="badge badge-danger">{$result->status->name}</span>
								@endif
							</td>
							<td>₦{number_format($result->serviceFee, 2, '.', ',')}</td>
							<td>
								<a $href="services/view/$result->serviceid" class="btn btn-label-primary">View</a>
							</td>
						</tr>
						{$index++;}
					@endfor
				</tbody>
			 </table>
		  </div>
	   </div>
	</div>
 </div>